[package]
name = "solana-verify"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.1.4", features = ["derive"] }
anyhow = "1.0.68"
cmd_lib = "1.3.0"
solana-client = "1.14.10"
solana-cli-config = "1.14.10"
solana-sdk = "1.14.10"
sha256 = "1.1.1"
hex = "0.3.1"

[dependencies.uuid]
version = "1.2.2"
features = [
    "v4",                # Lets you generate random UUIDs
    "fast-rng",          # Use a faster (but still sufficiently random) RNG
    "macro-diagnostics", # Enable better diagnostics for compile-time UUIDs
]